@model List<Worstore.Models.GeneralModels.SpokenLanguageViewModel>


<div class="chosen-select-act fm-cmp-mg">
    <select class="chosen" name="FkLanguage" data-placeholder="Choose a Country...">
        @foreach (var item in Model)
        {
            <option value="@item.Id">@item.Label</option>
        }
    </select>
</div>