@*@model List<Worstore.Models.HomeViewModels.GameWordViewModel>*@
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="content-wrap mg-t-30">
            <div class="cmp-tb-hd">
                <h2>Let's Start a Game</h2>
                @*<p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae tristique diam. Maecenas euismod nisl et diam tincidunt, ac laoreet lacus mattis. In et faucibus est. Pellentesque erat lacus, iaculis at ipsum ac, faucibus viverra risus. Quisque at nunc suscipit, molestie magna ultrices, varius arcu. Aliquam cursus lobortis suscipit. Nunc.
                    </p>*@
            </div>
            <div id="playground">

            </div>
            <div class="row">
                <div class="col-lg-offset-5  col-md-offset-5 col-sm-offset-5  col-lg-7 col-md-7 col-sm-7 col-xs-12">
                    <div class="form-group">
                        <div class="button-icon-btn floatleft">


                            @*<button class="btn btn-danger notika-btn-danger waves-effect floatleft"><i class="notika-icon notika-right-arrow"></i> Danger</button>*@


                            <button class="btn btn-default btn-icon-notika waves-effect"><i class="notika-icon notika-right-arrow"></i> Pass Bro</button>

                        </div>

                    </div>



                </div>
            </div>

        </div>
    </div>


</div>

@section Styles{ }
@section Scripts{
    <script>
        var getWordUrl='@Url.Action("GetGameWord")';
        var postCheckWordUrl='@Url.Action("CheckWordTruth")';
        function getWords( url, contentId )
        {
            $.ajax( {
                // The URL for the request
                url: url,
                // Whether this is a POST or GET request
                type: "GET",
                success: function ( response )
                {
                    $( contentId ).html( response );


                },
                error: function ()
                {
                }
            } )
                // Code to run if the request succeeds (is done);
                // The response is passed to the function
                .done( function ( json )
                {

                } )
                // Code to run if the request fails; the raw request and
                // status codes are passed to the function
                .fail( function ( xhr, status, errorThrown )
                {

                } )
                // Code to run regardless of success or failure;
                .always( function ( xhr, status )
                {

                } );
        }
        function checkWord( url, id, label )
        {




            $.ajax( {
                    // The URL for the request
                    url: url,
                    // Whether this is a POST or GET request
                    type: "POST",
                        // The data to send (will be converted to a query string)
                data: { wordId: id, meaning: label },
                    //    // The type of data we expect back
                    //dataType: "json",
                    //contentType: 'application/json; charset=utf-8',
                    success: function ( response ) {
                        alert( response.message);


                    },
                    error: function ()
                    {
                    }
                } )
                // Code to run if the request succeeds (is done);
                // The response is passed to the function
                .done( function ( json )
                {

                } )
                // Code to run if the request fails; the raw request and
                // status codes are passed to the function
                .fail( function ( xhr, status, errorThrown )
                {

                } )
                // Code to run regardless of success or failure;
                .always( function ( xhr, status )
                {

                } );
        }
        $( function () {
            getWords(getWordUrl, "#playground");
            //alert();


            $(document).on('click',
                '.check-answer',
                function () {
                    var content = $( this ).closest( '.game-content' );
                    var fkWord = $(content).find('input[name="FkWord"]').val();
                    var reply = $( content ).find( 'input[name="Reply"]' ).val();

                    checkWord( postCheckWordUrl, fkWord, reply);

                });

        } );
    </script>
}
